extends booster-template

block booster-content
  div(style="max-width:400px; margin: 0 auto 40px auto;")
    div
      h1 Welcome to the booster zone.
      p As a booster, you can manage various options related to the Web platform. To do so, use the links in the navigation bar above.