extends ../layouts/base

block append js
  +testimonials-js()

block content
  .container.container-v-padding.container-narrow.container-paper
    h1(style="margin-top:0;") FAQ

    h3 Why would I choose Boost Kings?
    p We make sure that your boost is done as fast as possible. All of our boosters are Masters/Challengers and have been boosting for years. They know what they're doing. We always use a VPN for security purposes. We have a system that rewards our best boosters, so slacking off is not worth it for them. Moreover, we have some of the most competitive pricing available out there. Your ELO/MMR boosting experience should start with us!

    hr

    h3 Why do I need to create an account?
    p You need to create a Boost Kings account before purchasing your order so that we can link your order to a booster, with whom you'll be able to live chat at any time during the boosting process. Be sure to read the 
      a(href="/privacy") privacy policy
      |  to learn how your information is protected.

    hr

    h3 How can I be sure that my account won't get stolen by the booster?
    p Every account has a specific main email associated to it. If something were to happen to your account, it’s always possible for you to recover it. Moreover, all of our boosters are Masters/Challengers, so there is nothing interesting to steal on your account from a booster standpoint.

    hr

    h3 I just paid for my boost, now what?
    p Your order will be placed in a queue. It will be picked as soon as one of our boosters is available. You will then be able to add the booster and chat with them on your order page. 

    hr

    h3 Will the booster use my IP/RP?
    p No. Our boosters will never use your IP/RP unless you give them permission to do so.

    hr

    h3 How can I see the progress on my boost?
    p
      | You can see the progress through websites like 
      a(href="//op.gg" target="_blank") op.gg
      |. You can also spectate live on one of your smurf through the League client.

    hr

    h3 How long will it take to finish my order?
    p It depends on the "size" of your order. Our boosters have a minimum of 5 games to play every day on your order.

    hr

    h3 I am really satisfied. How can I tip my booster?
    p 
      a(href="/contact") Contact us
      |  to get your booster's information in order to tip them.

    hr

    h3 I currently gain 12 LP (or less) per game, can I still buy a division boost?
    p Unfortunately, you can't. Having a LP gain inferior to 13 will result in switching the boost to the Net Wins pricing instead.

    hr

    h3 Can I get banned for using a boosting service? Is there a way to reduce the risk of being banned?
    p It may happen, but the probability is very low. Out of 5000+ orders, we get 1-3 reports of account getting a ban due to boosting. If that were to happen however, do note that we are not responsible for such an event. Most bans occur because of IP changes. To lower the risk of getting banned, follow these instructions:
    ol
      li Do not log in to your account for a couple of days after the boost.
      li Do not pause the order to play on it. If you already ordered a boost, ask for the same booster.

    hr
    
    h3 Which payment methods do you accept?
    p We currently accept PayPal (including credit cards such as Visa, Mastercard, Maestro and American Express).

    hr

    h3 Will the booster talk to my friends in-game?
    p No. The boosters are not allowed to talk to anyone on your account and most of them have the ability to play offline. This means that the out-of-game chat is unavailable.

    hr

    h3 Will only one booster play on my account?
    p Yes. For security measures, only one booster will boost your account. If your booster cannot keep boosting (because of an emergency), you will be offered the choice to replace or keep them, depending on how soon you want your boost to be completed.

    hr

    h3 I am in a promotion series, can you win it for me?
    p Yes. You may use the Net Wins service to buy the number of games needed to win your promotion series.

    hr

    h3 Why is DuoQ more expensive?
    p It’s harder for the booster to play and win with a customer. Also, the booster needs to provide his own account(s) to be able to play with you.

    hr

    h3 Can I talk to my booster?.
    p After confirming your order, you will be placed in a queue, and as soon as a booster picks your order you will be able and live chat with them, right from your order page.

    hr

    h3 I bought a Division Boost and I skipped a division, do I need to pay extra?
    p Nope! That extra division is on us. Enjoy!

    hr

    h3 I don't like my booster, can I switch?
    p 
      | Depending on the issue, it may be possible to switch boosters if they aren’t doing something correctly and/or are being disrespectful. Please 
      a(href="/contact") contact us
      |  if that ever happens and we will make sure to fix everything for you.

    hr

    h3 I would like to get some coaching, do you offer that?
    p Yes, contact Kevin (Boost Kings' owner) for coaching inquiries.

    hr

    h3 I am not on the NA server, can I still get a boost?
    p For now, we only boost on the North America (NA) servers but we will expand our range of services as soon as we possibly can. However, it is possible to get coaching services for other servers.

    hr

    h3 My question is not on this page. What now?
    p
      a(href="/contact") Get in touch with us.

  +testimonials(true)