extends ../layouts/base

block content
  .container
    div(style="max-width:400px; margin: 0 auto 40px auto;")
      h1 Check your emails.
      p
        | We've just sent a verification email to confirm your identity. Please click the button in the email to verify your account.