extends admin-template

block admin-content
  div(style="margin: 0 auto 40px auto;")
    div
      h1 Welcome to the administration zone.
      p As an administrator, you can manage various options related to the Web platform. To do so, use the links in the navigation bar above.