ul.list-inline
  li: strong Settings
  li: a.btn.btn-default(href="/admin/settings/") General
  li: a.btn.btn-default(href="/admin/prices") Pricing
  li: a.btn.btn-default(href="/admin/promocodes") Promocodes
hr